body{
    margin-bottom: 0;
    margin-left:100px ;
    margin-right:100px ;
    margin-top: 0;
   background: white;
   
}
.item1{grid-area: header;
    height: 70vh;
    background: rgb(252,252,252);
background: linear-gradient(90deg, rgba(252,252,252,1) 1%, rgba(184,82,235,1) 51%, rgba(255,255,255,1) 100%);
}
.item2{grid-area: nav;
height: 15vh;
background: black;

}

.item3{grid-area: main;
    height: 70vh;
    background: rgb(252,252,252);
    background: linear-gradient(90deg, rgba(252,252,252,1) 1%, rgba(82,235,223,1) 51%, rgba(255,255,255,1) 100%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
}

.item4{grid-area: main1;
    height:40vh;
    background: white;
    padding: 1vh;
    }

.item5{grid-area: main2;
     height:40vh;
     background: rgb(252,252,252);
     padding: 1vh;

    }

.item6{grid-area: main3;
    height:40vh;
    background: rgb(252,252,252);
    padding: 1vh;
    }

.footer{grid-area: footer;
height:15vh;
background: rgb(252,252,252);
background: linear-gradient(90deg, rgba(252,252,252,1) 1%, rgba(226,235,82,1) 51%, rgba(255,255,255,1) 100%);
}

.image {
	height:70vh;
    width:100%;
	
}

.aboutus {
    height:35vh;
    width: 60vh;
    border-radius: 10%;
}

.gridcontainer{
    display: grid;
    grid-template-areas: 
    'header header header'
    'nav nav nav'
    'main main main'
    'main1 main2 main3'
    'footer footer footer';
    ;
}

.gridcontainer{
    text-align: center;
    
}
.navbar{
    padding:0px;
    
}
.nav{
    display: inline-flex;
    width: 150px;
    padding:10px;
    margin: 15px;
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 3px solid black;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    
    
   
    
}
a{
    text-decoration: none;
    color:black;
}

