body{
    margin: 20px;
   background: rgb(7,8,8);
    background: linear-gradient(90deg, rgba(7,8,8,1) 5%, rgba(145,60,90,1) 50%, rgba(1,15,18,1) 100%);
   
}
.item1{grid-area: header;
    height: 25vh;
    background: rgb(252,252,252);
background: linear-gradient(90deg, rgba(252,252,252,1) 1%, rgba(184,82,235,1) 51%, rgba(255,255,255,1) 100%);
}
/*.item2{grid-area: menu;
height: 40vh;
background: rgb(255,112,146);
background: linear-gradient(90deg, rgba(255,112,146,1) 0%, rgba(140,117,255,1) 49%, rgba(51,193,58,1) 100%);
}*/

.item3{grid-area: main;
    height: 60vh;
    background: rgb(252,252,252);
    background: linear-gradient(90deg, rgba(252,252,252,1) 1%, rgba(82,235,223,1) 51%, rgba(255,255,255,1) 100%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
}

.item4{grid-area: footer;
height:15vh;
background: rgb(252,252,252);
background: linear-gradient(90deg, rgba(252,252,252,1) 1%, rgba(226,235,82,1) 51%, rgba(255,255,255,1) 100%);
}

.gridcontainer{
    display: grid;
    grid-template-areas: 
    'header header header header header'
    'main main main main main'
    'footer footer footer footer footer';
    ;
}

.gridcontainer{
    text-align: center;
    
}
.navbar{
    padding:0px;
    
}
.nav{
    display: inline-flex;
    padding:10px;
    margin: 15px;
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 3px solid black;
    background-color: rgb(248, 184, 205);
    border-radius: 30px;
    font-weight: bold;
    overflow: hidden;
    
   
    
}
a{
    text-decoration: none;
    color:black;
}