body{
    margin-bottom: 0;
    margin-left:50px ;
    margin-right:50px ;
    margin-top: 0;
    background: black;
   
}

.gridcontainer{
    display: grid;
    grid-template-areas: 
    'header header header'
    'nav nav nav'
    'main main main'
    'main1 main2 main3'
    'footer footer footer';
    text-align: center;
    background: #121212;
    font-family: 'Open Sans', sans-serif;
    
}


.item1{grid-area: header;
    height: auto;
    background: #121212;
    
}

.item2{grid-area: nav;
height: auto;
background: #121212;

}

.item3{grid-area: main;
    height: auto;
    background: #121212;
}

.item4{grid-area: main1;
    height:40vh;
    background: #121212;
    padding: 1vh;
    }

.item5{grid-area: main2;
     height:40vh;
     background: #121212;
     padding: 1vh;

    }

.item6{grid-area: main3;
    height:40vh;
    background: #121212;
    padding: 1vh;
    }

.footer{grid-area: footer;
height:15vh;
background: #121212 ;
color: white;

}

.wallpaper {
	height:70vh;
    width:100%;
}

.movieposter{
    width: 80%;
    height: auto;
    display: none;
    
}

.movieposter2{
    width:100%;
    height: auto;

}

.w3-content,.w3-auto{margin-left:auto;margin-right:auto; text-align: center;}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-display-left{position:absolute;top:100%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}


.aboutus {
    height:35vh;
    width: 60vh;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.5vh;
    border-color: #494949;
}

.tablelocation{
    margin: auto;
    background: black;
    color:white;
    text-align: left;    

}

.tablemovies{
    color: white;
}

.locationimage{
    width: 80%;
}

td.cinematd{
    width: auto;
    height: auto;
    padding: 0.5cm;
    
}

td.movietd:nth-child(2){
    width: auto;
    height: auto;
    padding: 50px;
    text-align: left;
    
}

td.movietd:nth-child(1) {  
    height: auto;
    width: 250px;
    padding: 10px;
  }

.title{
    color: #fff;
    
    font-size: 16px;
    margin-bottom: 7px;
    font-weight: bold;
}
.redfont{
    color:#ea1131;
    font-size: larger;
}

.greyfont{
    color:#a0a0a0;
}


.navbar{
    display: inline-block;
    justify-content: center;
    
}
.nav{
    align-content: center;
	color: #494949 !important;
	text-decoration: none;
	background:lightgray;
	padding: 10px;
	border: 3px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
    width: 150px;
    justify-content: center;
}

.nav:hover {
        color: #ffffff !important;
        background: #ea1131;
        border-color: #ea1131 !important;
        transition: all 0.4s ease 0s;
    }
    
   
    

a{
    text-decoration: none;
    color:black;
}

